<div class="container mx-auto px-4 py-5 mt-4">
  <div class="grid grid-rows-2 grid-cols-6 gap-4">
    @for (item of topNews; track $index) {
      <a routerLink="/article/{{item.title}}">
      @if($index==0){
        <app-card [article]="item" class="col-span-4 row-span-2" [description]="true" type="horizontal"></app-card> 
      }@else if($index>=1 && $index<=2){
        <app-card [article]="item" class="col-span-2 row-span-1" [description]="false" type="horizontal"></app-card> 
      }@else if($index>=3 && $index<=5){
        <app-card [article]="item" class="col-span-2 row-span-1" [description]="false" [image]="false" type="horizontal"></app-card> 
      }
      </a>
    }
  </div>
  <div>
    <h2 class="text-4xl font-bold text-black mb-5 mt-5">Business</h2>
    <div class="grid grid-cols-4 grid-rows-1 gap-4">
      @for (business of businessNews; track $index) {
        <a routerLink="/article/{{business.title}}">
          <app-card [article]="business" [description]="true" type="horizontal"></app-card> 
        </a>
      }
    </div>
  </div>
</div>

<div class="bg-yellow-500">
  <div class="container mx-auto px-4 py-5 mt-4">
    <div class="grid grid-cols-3 grid-rows-1 gap-4 mt-5">
      <div class="">
        <h2 class="text-4xl font-bold text-black mb-5 text-left">Technology</h2>
        <div class="">
          @for (item of technologyNews; track $index) {
            <a routerLink="/article/{{item.title}}">
              <app-card [article]="item" type="vertical"></app-card> 
            </a>
          }
        </div>
      </div>
      <div class="">
        <h2 class="text-4xl font-bold text-black mb-5 text-left">Entertainment</h2>
        @for (item of entertainmentNews; track $index) {
          <a routerLink="/article/{{item.title}}">
            <app-card [article]="item" type="vertical"></app-card> 
          </a>
        }
      </div>

      <div class="">
        <h2 class="text-4xl font-bold text-black mb-5 text-left">Health</h2>
        @for (item of healtNews; track $index) {
          <a routerLink="/article/{{item.title}}">
            <app-card [article]="item" type="vertical"></app-card> 
          </a>
        }
      </div>
    </div>
  </div>
</div>
<div class="container mx-auto px-4 py-5 mt-4">
  <div class="grid grid-cols-2 grid-rows-1 gap-4 mt-5">
    <div class="">
      <h2 class="text-4xl font-bold text-black mb-5 text-left">Science</h2>
      <div class="">
        @for (item of scienceNews; track $index) {
          <a routerLink="/article/{{item.title}}">
            <app-card [article]="item" type="vertical"></app-card>            
          </a>
        }
      </div>
    </div>
    <div class="">
      <h2 class="text-4xl font-bold text-black mb-5 text-left">Sports</h2>
      <div class="">
        @for (item of sportsNews; track $index) {
          <a routerLink="/article/{{item.title}}">
            <app-card [article]="item" type="vertical"></app-card> 
          </a>
        }
      </div>
    </div>
  </div>
</div>
